<%-include('header')-%>
<%-include('Menupanel')-%>   

<body class =boxbody>
 
<div class="login " id="login">
    <div class="container">
        <h1>Welcome !!! </h1>
        <a href="/router/logout" class="btn btn-secondary " role="button">Exit</a>
    </div>
</div>
</body>

<%-include('footer')-%>
