<div class="menubar">
    <button type="button" class=" btn btn-light menubutton">Home</button>
    <button type="button" class=" btn btn-light menubutton">Services</button>
    <button type="button" class=" btn btn-light menubutton">Support</button>
    <button type="button" class=" btn btn-light menubutton">carrier</button>
    <button type="button" class=" btn btn-light menubutton">contact Us</button>
    
</div>